/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Common Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

header {
  margin-left: 120px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 25px;
}

/* Top Portions */

.starting-title {
  font-size: 24px;
}
.section-title {
  font-size: 52px;
}
.half-width {
  margin-left: 120px;
  width: 50%;
}
.half-width img {
  width: 80%;
}

.button-style {
  background-color: #e02c6d;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
}
.top-portion {
  display: flex;
}

.half-width img:hover {
  transform: scale(1.5);
  transition: transform 2.5s ease-in-out;
}

/* Logos Style */
.companies {
  margin-top: 50px;
  margin-bottom: 50px;
}
.company-logos {
  display: flex;
  justify-content: center;
}
.logo {
  margin-left: 50px;
}

/* Popular Collection 
---------------------*/

.collections {
  display: grid;
  justify-content: center;
  grid-template-columns: 329px 329px 329px;
  grid-gap: 2em;
}
#popular-title {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 28px;
}
.item-image {
  text-align: center;
  margin-top: 10px;
}

.fa-star.filled {
  color: #ffc014;
}
.fa-star-half.filled {
  color: #ffc014;
}

.item {
  background-color: white;
  border-radius: 10px;
}
.item-details {
  margin-left: 20px;
}
.item-title {
  font-size: 28px;
}
.price {
  font-size: 22px;
}
.item-info {
  font-size: 12px;
}

.see-more {
  display: flex;
  justify-content: right;
  margin-top: 100px;
  margin-right: 420px;
}
#see-button {
  color: #e02c6d;
  font-size: 16px;
}

/* Footer styles */
.social-media {
  background-color: rgb(10, 10, 46);
  color: white;
  text-align: center;
  margin: 0;
}
.social-sites {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Extra Styles 
---------------*/

.extra {
  display: flex;
  justify-content: center;
}

.colored {
  color: #e02c6d;
}

/* Media Queries 
----------------*/

/*----------------- 
Mobile devices
----------------- */
@media only screen and (max-width: 688px) {
  .top-portion {
    width: 100%;
    flex-direction: column;
    align-content: center;
  }
  .half-width {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }

  .company-logos {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
  .collections {
    grid-template-columns: none;
    width: 100%;
  }
  .see-more {
    width: 100%;
    margin-top: 50px;
    margin-right: 0px;
  }
  .extra {
    width: 100%;
    flex-direction: column;
  }
  .social-media {
    width: 100%;
  }
}

/*----------------- 
Tablet devices
----------------- */
@media only screen and (min-width: 688px) and (max-width: 1180px) {
  .company-logos {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
  .see-more {
    margin-top: 50px;
    margin-right: 0px;
  }
}
